<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>TeamWarriors</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/owl-carousel.css}">

    <link rel="stylesheet" th:href="@{/css/tooplate-artxibition.css}">
    <!--

    Tooplate 2125 ArtXibition

    https://www.tooplate.com/view/2125-artxibition

    -->
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Pre HEader ***** -->
<!--
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>Hey! The Show is Starting in 15 Days.</span>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                        <a href="rent-venue.html">Contact Us Now! <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

<!-- ***** Header Area Start ***** -->
<th:block th:insert="~{/_commun/_header :: header}"></th:block>
<!-- ***** Header Area End ***** -->

<h1>Annonce</h1>



<!-- jQuery -->
<script th:src="@{/js/jquery-2.1.0.min.js}"></script>

<!-- Bootstrap -->
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/js/scrollreveal.min.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<script th:src="@{/js/jquery.counterup.min.js}"></script>
<script th:src="@{/js/imgfix.min.js}"></script>
<script th:src="@{/js/mixitup.js}"></script>
<script th:src="@{/js/accordions.js}"></script>
<script th:src="@{/js/owl-carousel.js}"></script>

<!-- Global Init -->
<script th:src="@{/js/custom.js}"></script>
<script>
    let el =   document.getElementById("annonce");
    el.className = "active";
</script>
</body>
</html>