<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<header class="header-area header-sticky" th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">Team<em>Warriors</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav" >
<!--                        <li><a th:href="@{/}" class="active">Home</a></li>-->
                        <li><a th:href="@{/}" id="home">Home</a></li>
                        <li><a th:href="@{/annonce}" id="annonce">Annonce</a></li>
                        <li><a th:href="@{/calendrier}" id="calendrier">Calendrier</a></li>
                        <li><a th:href="@{/commentaire}" id="commentaire">Commentaire</a></li>
                        <li><a th:href="@{/notification}" id="notification">Notification</a></li>
                        <li><a th:href="@{/utilisateur}" id="utilisateur">Utilisateur</a></li>
                        <li><a th:href="@{/evenement}" id="evenement">Evenement</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>

                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>

</header>

</body>
</html>